@import url("https://fonts.googleapis.com/css2?family=Smythe&display=swap");

/* *GENERAL */

body {
  background-color: #16db99;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Smythe", cursive;
}

.header-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* *DEFAULT-STATE */
.main {
  padding: 3em;
  max-width: 500px;
  margin: 0 auto;
}

.menu-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 30px;
  border-bottom: 1px solid #8b8b8b;
}

.menu-item-details {
  display: flex;
  gap: 30px;
  padding: 2em 0;
}

.menu-item-emoji {
  font-size: 5rem;
}

.menu-item-name {
  margin: 0;
}

.menu-item-ingredients {
  margin: 0.4rem 0;
}

.menu-item-price {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}

.add-btn {
  height: 1.5em;
  width: 1.5em;
  min-width: 1.5em;
  font-size: 1.5em;
  line-height: 24px;
  border: 1px solid #8b8b8b;
  border: solid 1px #343a40;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.7;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  /* !Need help: a better way to center the button? --  */
  margin-top: 2.1em;
  align-self: center;
}

.add-btn:hover,
.add-btn:focus {
  background-color: #16db99;
  background-color: #343a40;
  color: #fff;
}

/* *VIEW ORDER AND TOTAL */
.order-title {
  text-align: center;
  font-size: 1.8rem;
}

.order-container {
    margin-top: 40px;
}

.all-items, .total-price {
    display: flex;
    justify-content: space-between;
}

.order-name, .order-price {
    font-size: 1.5em;
}

.total-price {
  border-top: 1px solid #343a40
}

.complete-order-btn {
  display: inline-block;  
  padding: 20px 0;
  margin-top: 20px;
  border: #16db99;
  width: 100%;
  background-color: #16db99;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.complete-order-btn:hover {
  opacity: 0.8;
}

/* *MODAL */
.btn-container {
  text-align: right;
}
.close-btn {
  border: none;
  color: #757575;
  background: transparent;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 10px 0 0;
  cursor: pointer;
}

.close-btn:hover {
  opacity: 0.7;
}
.payment-modal {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /* end of modal display */

  height: 400px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.5);
  background-color: #fff;
  padding: 10px;
}

.inner-payment-modal {
  width: 350px;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inner-payment-modal h2 {
  font-size: 1.4rem;
  text-align: center;
}

#form {
  display: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  margin-top: 10px;
  border: 1px solid #757575;
  padding: 15px;
  border-radius: 3px;
  font-size: 1rem;
}

.order-btn {
  background-color: #16db99;
  border: none;
  border-radius: 3px;
  padding: 20px;
  margin: 15px 0 10px 0;
  color: #fff;
  font-weight: bold;
}

.pay-btn:hover {
  opacity: 0.8;
}

.thank-you-msg {
  text-align: center;
  font-size: 2rem;
  background-color: #ECFDF5;
  padding: 20px;
  margin-top: 20px;
}

/* *EFFECTS / HELPER CLASS */

.hidden {
  display: none;
}
